.gamearea {
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;

}
.balloon {
    font-size: 50px;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    bottom: -50px;
}
.game-time {
    font-size: 30px;
    color: white;
    position: absolute;
    left: 10px;
    top: 10px;
}

@keyframes balloon {
    0% {bottom: -50px;}
    100% {bottom: 100vh} 
}
