.gamearea {
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.balloon {
    font-size: 50px;
    background: none;
    border: none;
    outline: none;
    position: absolute;
    bottom: -50px;
}
.completed {
    font-size: 50px;
    color: #dc3e21;
    text-transform: capitalize;
    font-family: 'Lobster', cursive;
    background-color: #fac855;
    display: inline-block;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    border: 5px dashed black;
    border-radius: 50px;
}
.invisible {
   display:none;
}

.game-time {
    font-size: 50px;
    color: #fac855;
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: 'Lobster', cursive;    
}

@keyframes balloon {
    0% {bottom: -50px;}
    100% {bottom: 100vh} 
}

@media only screen and (max-width: 980px) {
    .balloon {
        font-size: 150px;
    }
    .completed {
        padding: 50px;
        font-size: 150px;
        border-radius:125px;
    }
}
  